<ion-view view-title="Cidadania Ativa" hide-back-button="true">
    <ion-content class="has-header">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Pesquisar o local" ng-model="address" googleplace="" autocomplete="off">
            </label>

            <button class="button button-small" id="button-location" ng-click="myLocation()"><i class="icon ion-navigate"></i></button>
        </div>
        <ui-gmap-google-map draggable="true" center="map.center" zoom="map.zoom" options="map.options">
          <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id" icon="marker.icon">
          </ui-gmap-marker>
        </ui-gmap-google-map>
    </ion-content>

    <div class="fixed-outside">
        <button class="button button-large button-assertive icon-left ion-speakerphone padding" id="denunciar" ng-click="setDenuncia()">Denunciar</button>
    </div>

</ion-view>
