<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <div class="item-avatar col-center">
        <img ng-src="{{userPicture}}" />
        <br />
        <h4 class="name">{{userName}}</h4>
        <br />
        <h6 class="identify">{{userIdentify}}</h6>
      </div>
      <ion-list>
        <ion-item nav-clear class="item item-icon-left" menu-close href="#/app/main">
          <i class="icon ion-speakerphone"></i> Denunciar
        </ion-item>
        <ion-item nav-clear class="item item-icon-left" menu-close href="#/app/search">
          <i class="icon ion-search"></i> Pesquisar
        </ion-item>
        <ion-item nav-clear class="item item-icon-left" menu-close href="#/app/personal">
          <i class="icon ion-clipboard"></i> Minhas denúncias
        </ion-item>
        <ion-item nav-clear class="item item-icon-left" menu-close href="#/app/config">
          <i class="icon ion-gear-a"></i> Configurações
        </ion-item>
        <ion-item nav-clear class="item item-icon-left" menu-close ng-click="logout()">
          <i class="icon ion-power"></i> Sair
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
